header {
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    color: #010B5B
}

body {
        width: 70%;
        margin: 0 auto;
        font-family: Tahoma, serif;
        background-color:#E7FBFB;
}
 ul {
     font-style: italic;   
 }
    
